// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    font-size: inherit;
    font-family: inherit;
    padding: 5px 4px;
    width: 100%;
    letter-spacing: normal;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
  color: $secondary-color;
  }

.gform_wrapper ul.gform_fields:not(.top_label) .gfield_label {
  float: left;
  width: 29%;
  padding-right: 16px;
  margin-bottom: 0px;
  color: #fff;
  margin-top: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

input#gform_submit_button_1 {
  background-color: transparent;
  padding: 5px 30px;
  border-radius: 25px;
  color:$text-white;
  border:2px solid $secondary-color;
}

textarea#input_1_5 {
  min-width: 100%;
  color: $secondary-color !important;
}

.gform_wrapper {
  margin: 0px 0;
}

.gform_wrapper .gform_footer:not(.top_label) {
  padding: 10px 0 10px;
  width: 100% !important;
  margin-left: 0 !important;
  text-align: center;
  padding-top: 0 !important;
}

.ginput_container.ginput_container_textarea {
  width: 100% !important;
  margin-left: 0 !important;
  color: $secondary-color;

}

.gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0px;
}
.gform_wrapper ul.gform_fields:not(.top_label) .gfield_label {
  margin-bottom: 0 !important 
}

.gform_wrapper ul.gform_fields:not(.top_label) .gfield_label {
  margin-bottom: 10px !important;
}

input#gform_submit_button_1:hover {
  background-color:$secondary-color !important;
}

.gform_wrapper div.validation_error {
  color: $secondary-color !important;;
  border-top: 2px solid $secondary-color !important;
  border-bottom: 2px solid $secondary-color !important;
}

.gform_wrapper .validation_message {
  color: $secondary-color !important;
}

.gform_wrapper li.gfield.gfield_error { 
  border-bottom: none !important;
  border-top: none !important;
  background-color: transparent !important;
}

.gform_wrapper .validation_message {
  color: $secondary-color !important;
}

.gform_wrapper .field_description_below .gfield_description {
  padding-top: 0px !important;
}

.gform_wrapper .gfield_required {
  color: $text-white !important;
}

.div#gform_confirmation_message_1 {
  color: $secondary-color !important;
}