@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
$font-stack :'Montserrat', sans-serif;

body {
    font-family: $font-stack; 
    font-size: 12px;
    @media (min-width: 800px) {
      font-size: 14px;
    }
    @media (min-width: 1200px) {
      font-size: 16px;
    }
  }

  h1, .h1{ 
      font-size: 5rem;
      color: $brand-color;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 5px;

      span{
          color:$secondary-color;
      }

      @media (max-width: 667px) {
        font-size: 3rem;
        text-align: center;
      }

  }

a{
    text-decoration: none;
    color: $text-white;

    :hover{
      text-decoration: none;
      color: $secondary-color;
    }
}

.content-info a{ 
  text-decoration: none !important;
}