// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//Colors
$brand-color:#041b72 ;
$secondary-color:#38b5e6;

//Fonts
$default-text :#404041 ;
$secondary-text :#d1d2d4 ;
$text-white: #fff;
$font-family :'Montserrat', sans-serif;

//Spaces
$spacer-xl: 10rem ;
$spacer-lg: 5rem ;
$spacer-md: 3rem ;
$spacer-sm: 2rem;
$spacer-xs: 1rem ;
$spacer-ss: 0.5rem;




