footer { 
    background-color: $brand-color;
    padding: $spacer-ss 0;
    color: $text-white;
    font-size: 13px;

    @media (max-width: 667px) {
        .r_foot {
            text-align: right;
            font-size: 11px;
        }

        .l_foot {
            font-size: 11px;
        }
    }

}