.word_break { 
    text-align: center;
    line-height: 1;
    font-weight: bold;
    margin-top: $spacer-sm;
}

.word_break_child { 
    text-align: center;
    line-height: 1;
    font-weight: bold;
    // margin-top: 0;
    margin-top: (-$spacer-xs);
    margin-left:26px;

    @media (max-width: 667px) {
        margin-left: 15px;
    }

}

.title_sperator_1{ 
    word-break: break-all;
}

.services_holder {
    padding:30px;
    background-color:$brand-color;
    text-align: center;

    p{
   font-size: 18px;
    color: #fff;
    margin-bottom: 7px;
            @media (max-width: 667px) {
                font-size: 15px;
            }
    }
}

.services_holder p:last-of-type {
    margin-bottom: 0px;
}
section{
    margin: $spacer-sm 0;
    padding: $spacer-sm 0;
}

#contact{
    background-color: #041b72;
}

#intro { 
    padding-bottom:0px;
}

.embed-responsive {
     border-radius: 50% 50%;
    min-height: 500px;
}

.content_hold p{
    font-size: 16px;
    font-weight: 600;
    color: #041b72;
    margin-bottom: 10px;
    line-height: 28px;
    @media (max-width: 667px) {
        text-align:center;
    }

    a { 
        text-decoration: none;
        color: $brand-color;
    }    
    
}

.negative_m { 
    margin-top: -25rem;
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    @media (max-width: 667px) {
        margin-top: 0rem;
        padding-bottom: 0;
    }
}

.intro_content p{ 
    line-height: 23px;
//     letter-spacing: 1px;
    text-align: justify;
    font-size: 13px;
    @media (max-width: 667px) {
        margin-top: 1rem;
        text-align: center;
    }

}

hr { 
    border: 5px solid $brand-color  !important;
}

.sm-hr {
    width: 25%;
    // float:right;
    margin-right: 100px;
    @media (max-width: 667px) {
        margin: 1rem auto;
    }
} 

#map {
    border-radius: 50%;
    height: 500px;
    width: 500px;   
    
    @media (max-width: 667px) {
        height: 350px;
        width: 350px;  
    }

  }

  .gform_wrapper ul.gform_fields:not(.top_label) .gfield_label {
    margin-bottom: 10px;
}

.col-md-6.col-lg-6.col-sm-6.col-xs-12.intro_content {
    padding-top: 1rem;
}

.icon_link {
	font-size: 2rem;
	color:#041b72;
    margin-right: 10px;
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
	
	 .content_hold.center_mobile { 
	     text-align: center;
	 }
 
 }